@charset "UTF-8";

/* wrapper */
.wrapper{
  position: relative;
}

/* main */
.main-component{
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #000602;
}
.main-content{
  border-bottom: 2px solid #CB3433;
  position: relative;
}
.main-content .container{
  display: flex;
}
.main-content .main-text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
}
.main-content .main-text h1{
  font-family: 'Adamina';
  font-size: 50px;
}
.main-content .main-text .red{
  color: #CB3433;
  font-size: 70px;
}
.main-content .main-text .text{
  margin: auto 0;
  line-height: 1.4;
}
.main-content .main-text h2{
  font-family: 'Adamina';
  font-size: 18px;
}
.main{
  width: 100%;
  height: 1000px;
  position: relative;
}
#player{
  width: 100%;
  height: 100%;
  position: relative;
}
.video-stream{
  width: 100%;
}
.main-bg{
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 0;
}

/* member */
.member-component {
  background-color: #000602;
  color: #FFFFFF;
  padding: 150px 0;
}
.member{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.member .member-item{
  margin: 0 30px 40px 30px;
}
.member .member-item::before{
  content: '';
  width: 60px;
  height: 1px;
  background-color: #CB3433;
  position: absolute;
  transform: rotate(-45deg);
  margin-left: 260px;
}
.member img{
  width: 290px;
  height: 380px;
}
.member .name{
  font-size: 20px;
  font-family: 'Adamina';
  text-align: center;
  padding-top: 20px;
}

/* album */
.album{
  text-align: center;
  height: 600px;
}

.album .album-item{
  width: auto;
}
.album .album-item img{
  width: 300px;
  height: 300px;
}
.album .swiper-slide-active img{
  width: 400px;
  height: 400px;
  transition: ease-out .5s;
}
.album .album-item .title{
  padding-top: 10px;
  color: rgba(0,0,0,.6);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.swiper-pagination-bullet-active{
  background-color: #CB3433;
}

/* gallery */
.gallery-component{
  padding-bottom: 0;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.gallery .gallery-item{
  margin-bottom: 40px;
}
.gallery .gallery-item img{
  width: 340px;
  height: 510px;
  cursor: pointer;
}
.gallery-content .btn-more{
  display: block;
  width: 80px;
  padding: 14px 20px;
  background-color: #CB3433;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  margin: 40px auto;
}

/* video */
.video-component{
  background-color: rgba(0,6,2, 0.9);
  padding-top: 200px;
  color: #FFFFFF;
}
.video {
  height: 640px;
  width: 100%;
  margin-bottom: 80px;
}
.video .video-item img, .video .video-item iframe{
  width: 100%;
  height: 100%;
}
.swiper-button-next::after, 
.swiper-button-prev::after{
  color: #CB3433;
}

.video-preview{
  height: 260px;
}
.video-preview .swiper-wrapper{
  position: relative;
}
.video-preview .video-item img, .video-preview .video-item iframe{
  width: 100%;
  height: 100%;
  position: absolute;
}
.video-preview .video-item::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 9;
  transition: ease-in .5s;
}
.video-preview .video-item.swiper-slide-thumb-active::after{
  background-color: transparent;
}
/* notice */
.notice{
  display: flex;
  flex-direction: column;
}
.notice .notice-item{
  padding: 30px 20px;
  display: flex;
  border-top: 1px solid rgba(209,209,210, .5);
  cursor: pointer;
}
.notice .notice-item:last-child{
  border-bottom: 1px solid rgba(209,209,210, .5);
}
.notice .notice-item span:last-child{
  margin-left: auto;
  color: rgba(116,126,126, .5);
}
.notice-content .btn-more{
  display: block;
  width: 80px;
  padding: 14px 20px;
  background-color: #322F2F;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  margin: 40px auto;
}